@import "tailwindcss";


/* Custom small overrides */
:root { --brand: #f6c23e; }
html,body,#root { height: 100%; }
body { background: #fff; font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }